.table {
  .tableRow {
    display: flex;
    gap: 20px;
    padding-left: 36px;
  }

  .tableCell {
    display: flex;
    align-items: center;

    > span.value {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.2px;
      color: #5e626b;
    }

    &:nth-child(1) {
      width: 200px;
    }

    &:nth-child(2) {
      width: 404px;
    }

    &:nth-child(3) {
      width: 200px;
    }

    &:nth-child(4) {
      width: 100px;
    }

    // &:nth-child(5) {} // *
  }

  // ---

  > ul.headerList {
    @extend .tableRow;
    border: 1px solid #e3e8ee;

    > li.headerItem {
      @extend .tableCell;
      height: 76px;

      > span.value {
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        letter-spacing: 0.4px;
        color: #000000;
      }
    }
  }

  > ul.userList {
    border: 1px solid #e3e8ee;
    border-top: none;

    > li.userItem {
      height: 80px;

      > ul.userDataList {
        @extend .tableRow;
        height: 100%;

        > li.userDataItem {
          @extend .tableCell;
          font-family: 'Rubik', sans-serif;

          &:nth-child(1) {
            > span.value {
              font-weight: 400;
              color: #1b2438;
            }
          }

          &:nth-child(5) {
            > span.value {
              height: 20px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
