form.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  > label.label {
    margin-bottom: 4px;
    font-size: 14px;
    text-transform: capitalize;
  }

  > input.input {
    padding: 0 24px;
    height: 48px;
    font-size: 14px;
    color: #5e626b;
    background-color: transparent;
    border: 1px solid #e3e8ee;
    outline: none;

    &.readOnly {
      pointer-events: none;
      user-select: none;
    }

    /*
    &.disabled {
      pointer-events: none;
      user-select: none;
    }
    */
  }
}
