@import '../../styles/';

button.button {
  height: 48px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: $colorBlack;
  background-color: transparent;
  border: 1px solid $colorGreyMiddleC4;
  user-select: none;

  &.active {
    background-color: $colorGreyMiddleC4;
  }

  &.disabled {
    color: $colorGreyMiddleC4;
  }

  &:hover {
    cursor: pointer;
  }
}
