@import './vars.scss';

%extends-dropdown-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;

    &-track {
      background: #869dc833;
      border-radius: 2px;
      margin: 8px 0;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colorBlack;
    border-radius: 2px;

    // &:hover {} // *
  }
}
