@import '../../styles/';

main.main {
  padding: 80px 100px;

  > section.content {
    padding: 60px 80px 80px;
    border: 1px solid $colorBlack;

    > h2 {
      font-family: 'Karla', sans-serif;
      font-size: 24px;
      letter-spacing: 6px;
      text-transform: uppercase;
      text-align: center;
    }

    &.editUser {
      > h2 {
        margin-bottom: 80px;
      }

      .ownerBlock {
        margin-bottom: 60px;

        > form {
          max-width: 498px;
        }
      }

      .companyInfoBlock {
        margin-bottom: 80px;

        > h3.subtitle {
          margin-bottom: 40px;
          font-size: 20px;
          line-height: 32px;
          color: $colorBlack;
        }

        .frame {
          display: flex;
          gap: 80px;

          &:nth-of-type(1) {
            margin-bottom: 40px;
          }
        }
      }

      .buttonBlock {
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        > span.buttonBox {
          > button {
            text-transform: capitalize;
          }

          &.undo {
            > button {
              width: 100px;
            }
          }

          &.save {
            > button {
              width: 200px;
            }
          }
        }
      }
    }

    &.users {
      > h2 {
        margin-bottom: 40px;
      }

      .filterHeadingBlock {
        margin-bottom: 40px;
      }

      // .userListBlock {} // *
    }
  }
}
