@import '../../styles';

header.header {
  min-width: $desktop;
  border-bottom: 1px solid #000000;

  nav.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;

    > a {
      > button {
        width: 200px;
        height: 48px;
        border: 1px solid #c4c4c4;
      }

      &.active {
        > button {
          background-color: #c4c4c4;
        }
      }
    }
  }
}
