@import '../../styles';

header.header {
  position: fixed;
  width: 100%;
  min-width: $max;
  background-color: $colorWhite;
  border-bottom: 1px solid $colorBlack;
  z-index: 31;

  .headerContent {
    width: 100svw;
    max-width: $max;

    nav.navigation {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 20px 0;

      > a {
        > button {
          width: 200px;
        }

        &.active {
          > button {
            background-color: $colorGreyMiddleC4;
          }
        }
      }
    }
  }
}
